In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}

df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28

In [2]:
# Replace single value

df1 = df.replace('Charlie', 'Charles')

print(df1)

      Name  Age
0    Alice   25
1      Bob   30
2  Charles   22
3    David   28

In [5]:
# Replace multiple values

replacement_dict = {'Alice': 'Alicia', 30: 31}

df1 = df.replace(replacement_dict)

print(df1)

      Name  Age
0   Alicia   25
1      Bob   31
2  Charlie   22
3    David   28

In [6]:
old_list = ['Alice', 30]

new_list = ['Alicia', 31]

df2 = df.replace(old_list, new_list)

print(df2)

      Name  Age
0   Alicia   25
1      Bob   31
2  Charlie   22
3    David   28

In [7]:
# Conditional replacement

df.loc[df['Age'] > 25, 'Age'] = 30

# Print the modified DataFrame

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   30